<div class="" ng-include="'view/header.html'"></div>
<div class="landingpage">

    <section id="missao">

        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <h1>SUA CRIATIVIDADE pode ser um GRANDE NEGÓCIO!</h1>
                    <p>Seu negócio é criar. O nosso é te acompanhar passo-a-passo
                        na importante tarefa de vender e conquistar seu próximo grande
                        projeto. Nossa causa é te ajudar a viver bem daquilo que você ama
                        fazer.</p>
                    <p>
                        Prazer em vender, somos o <strong>BusinessMe</strong>.
                    </p>
                </div>
                <div class="col-sm-4 col-sm-offset-1">

                    <flippy class="card-landing" flip="['click']" flip-back="['click']"
                            duration="800" timing-function="ease-in-out"> <flippy-front
                            class="card-front">

                            <div ng-click="$event.stopPropagation();">

                                <form name="formcadastro" ng-submit="register()"
                                      class="formcadastro" novalidate>
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control"
                                               placeholder="Seu nome" ng-model="user.name" ng-required="true">

                                        <p class="error validationerror"
                                           ng-show="formcadastro.name.$invalid && formcadastro.name.$touched">
                                            É necessário um nome</p>

                                    </div>
                                    
                                    <div class="form-group">

                                        <select id="area"  
                                                ng-required="true"
                                                name="profissao"
                                                class="form-control" 
                                                ng-model="user.profissao" 
                                                >
                                            <option value="" style="color: white;" >Área de atuação</option>
                                            <option ng-repeat="(key, nome) in areas" >{{nome}}</option>                                            
                                        </select>
                                        
                                        <p class="error validationerror"
                                           ng-show="formcadastro.profissao.$invalid && formcadastro.profissao.$touched">
                                            Área é obrigatório</p>
                                        
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control"
                                               placeholder="Email" ng-model="user.email" ng-required="true">

                                        <p class="error validationerror"
                                           ng-show="formcadastro.email.$invalid && formcadastro.email.$touched">
                                            É necessário um e-mail válido</p>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control"
                                               placeholder="Senha" ng-model="user.password" ng-required="true">

                                        <p class="error validationerror"
                                           ng-show="formcadastro.password.$invalid && formcadastro.password.$touched">
                                            É necessário uma senha</p>
                                    </div>

                                    <p class="message validationerror" ng-show="message">{{message}}</p>

                                    <button type="submit" ng-disabled="formcadastro.$invalid"
                                            class="btn-registro">Começar agora »</button>
                                </form>

                            </div>

                            <p class="flip-card-form">
                                Já possui cadastro? <span>Entrar</span>
                            </p>

                        </flippy-front> <flippy-back class="card-back">
                            <div ng-click="$event.stopPropagation();">
                                <form name="formlogin" ng-submit="login()" class="formcadastro"
                                      novalidate>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control"
                                               placeholder="Email" ng-model="user.email" ng-required="true">

                                        <p class="error validationerror"
                                           ng-show="formlogin.email.$invalid && formlogin.email.$touched">
                                            É necessário um e-mail válido</p>

                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control"
                                               placeholder="Senha" ng-model="user.password" ng-required="true">

                                        <p class="error validationerror"
                                           ng-show="formlogin.password.$invalid && formlogin.password.$touched">
                                            É necessário uma senha</p>

                                    </div>

                                    <p class="message validationerror" ng-show="message">{{message}}</p>

                                    <button type="submit" ng-disabled="formlogin.$invalid"
                                            class="btn-registro">Entrar »</button>
                                </form>




                            </div>

                            <p class="flip-card-form"
                               onclick="event.stopPropagation();
                                                       jQuery('#resetPass').modal();">
                                Esqueceu sua senha? Redefinir</p>


                            <p class="flip-card-form">
                                Ainda não tenho conta! <span>Cadastrar</span>
                            </p>

                        </flippy-back> </flippy>

                    <div class="card-fundo clearfix"></div>




                </div>

            </div>
        </div>


    </section>
    <section id="features">

        <div class="container">
            <div class="row">

                <div class="col-sm-4">
                    <div class="card-feature">

                        <img ng-src="image/landing/alvo.png">
                        <h2>
                            Tenha um assistente <br>pessoal de vendas!
                        </h2>
                        <p>Você sabia que 90% dos projetos criativos só se concretizam
                            depois do 4º contato com seu cliente? O BusinessMe te acompanha
                            desde o primeiro contato até a assinatura do contrato. Saiba
                            como, quando e por que atuar para fechar seu próximo projeto
                            incrível.</p>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="card-feature">

                        <img ng-src="image/landing/relatorios.png">

                        <h2>
                            Educação de vendas para que <br> você não precise se vender
                        </h2>

                        <p>Cada proposta enviada conta! Ao longo do tempo os dados que
                            você guarda no nosso aplicativo te ajudarão a avaliar onde agir
                            para garantir que a próxima propostas seja aceita e o próximo
                            projeto da sua vida comece!</p>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="card-feature">

                        <img ng-src="image/landing/leads.png">

                        <h2>
                            Um mapa de vendas <br> na sua mão
                        </h2>

                        <p>Todos os seus potenciais clientes em todas as fases do
                            relacionamento ficam aqui, e a gente te lembra os próximos passos
                            e o que fazer para aumentar as chances daquele projeto da vida
                            sair do papel.</p>
                    </div>
                </div>
            </div>
        </div>



    </section>
    <section id="preco">

        <div class="container">
            <div class="row">


                <div class="col-sm-6 col-sm-offset-3">
                    <h2>
                        BusinessMe é a maneira gratuita, visual e fácil de criar meta, planejar e monitorar seu processo de vendas!                  
                    </h2>
                </div>


                <div class="col-sm-6 col-sm-offset-3">

                    <div class="card-plano">


                        <div class="plano-texto">

                            <p class="plano-nome">Plano básico é grátis para sempre!</p>


                            <p class="plano-preco"><span class="moeda">R$</span> 0,00</p>
                            <div class="plano-itens">
                                <ul>
                                    <li>Prospecções ilimitadas</li>
                                    <li>Contatos Ilimitados</li>
                                    <li>Dicas sobre vendas</li>
                                    <li>Lembretes por e-mail</li>
                                    <li>Funil de vendas</li>
                                </ul>
                            </div>


                        </div>

                        <a class="btn-assinar" ng-href="#/cadastro-businessme">Cadastre-se no BusinessMe. É grátis!</a>

                    </div>

                </div>



            </div>
        </div>


    </section>
    <section id="track">

        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <h2>
                        Startup baseada na <img ng-src="image/landing/nave-logo.png">
                    </h2>
                </div>

            </div>
        </div>

    </section>
    <section id="entre-contato">


        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <h2>Dúvidas?</h2>
                    <p>
                        Fale com a gente, estamos aqui para ajudar: <span><a
                                href="mailto:ola@businessme.com.br?subject=Quero vender mais e viver bem do que eu amo fazer!">ola@businessme.com.br</a></span>
                    </p>
                </div>

            </div>
            <div class="row">

                <div class="col-sm-12">
                    <div class="rodape">
                        <img ng-src="image/landing/bme.png" alt="BusinessMe Logo">
                        <p>&#169; businessme &#8226; 2016</p>
                    </div>

                </div>

            </div>
        </div>

    </section>


</div>





<!-- Modal -->
<div class="modal fade" id="resetPass" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Redefinir sua senha</h4>
            </div>
            <div class="modal-body">
                <form name="resetPass"  ng-submit="reset()"  ng-show="!messageReset">
                    <div class="form-group">
                        <label for="emailReset">Seu e-mail</label>
                        <input
                            type="email" class="form-control" id="emailReset"
                            placeholder="Email" ng-model="emailReset">
                    </div>
                    <button type="submit" class="btn btn-default">Refazer minha senha</button>



                </form>

                <p class="messageReset" ng-show="messageReset">{{messageReset}}</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning"  ng-click="limparReset()">Tentar novamente</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>
