<div class="" ng-include="'view/header.html'"></div>
<section id="contato">


        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <h2>Dúvidas?</h2>
                    <p>
                        Fale com a gente, estamos aqui para ajudar: <span><a href="mailto:ola@businessme.com.br?subject=Quero vender mais e viver bem do que eu amo fazer!">ola@businessme.com.br</a></span>
                    </p>
                </div>

            </div>
            <div class="row">

                <div class="col-sm-12">
                    <div class="rodape">
                        <img ng-src="image/landing/bme.png" alt="BusinessMe Logo">
                        <p>&#169; businessme &#8226; 2016</p>
                    </div>

                </div>

            </div>
        </div>

    </section>
