<nav class="navbar navbar-default"
     ng-controller="RegistrationController">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <img class="logo" ng-src="image/logo/businessme-logo.png" >
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">



            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a ng-show="currentUser" ng-href="#/contato">
                        <span ng-show="howManyContatos" class="badge">
                            {{howManyContatos}}
                        </span>
                        Contatos
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#/" class="dropdown-toggle"
                       ng-show="currentUser" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <span ng-show="howManyLeads" class="badge">
                            {{howManyLeads}}
                        </span>
                        Leads
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/">
                                <span class="badge">
                                    {{pontencialTotal}}
                                </span>
                                Potencial cliente
                            </a>
                        </li>
                        <li>
                            <a href="#/">
                                <span  class="badge">
                                    {{contatoTotal}}
                                </span>
                                Contato
                            </a>
                        </li>
                        <li>
                            <a href="#/">
                                <span  class="badge">
                                    {{orcamentoTotal}}
                                </span>
                                Orçamento
                            </a>
                        </li>
                        <li>
                            <a href="#/">
                                <span  class="badge">
                                    {{negociacaoTotal}}
                                </span>
                                Negociação
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#/">
                                <span  class="badge">
                                    {{outrosTotal}}
                                </span>
                                Outros
                            </a>
                        </li>                        
                    </ul></li>
                    <li>
                    <a ng-show="currentUser" ng-href="#/funil">
                        Meu funil
                    </a>
                </li>

                <li>
                    <a ng-show="currentUser" ng-href="#/analise">
                        Análise de vendas
                    </a>
                </li>
                


                <li><a ng-hide="currentUser" ng-click="irPara('#missao')"  >MISSÃO</a></li>
                <li><a ng-hide="currentUser" ng-click="irPara('#features')"  >VANTAGENS</a>
                <li><a ng-hide="currentUser" ng-click="irPara('#preco')"  >PREÇO</a>
                <li><a ng-hide="currentUser" ng-click="irPara('#track')"  >SOBRE A GENTE</a>
                <li><a ng-hide="currentUser" ng-click="irPara('#entre-contato')"  >CONTATO</a></li>

                <li><img ng-show="currentUser" ng-src="{{currentUser.picture}}"
                         class="avatar img-responsive img-circle"></li>

                <li class="dropdown">
                <a ng-show="currentUser" href=""
					class="dropdown-toggle" data-toggle="dropdown" role="button"
					aria-haspopup="true" aria-expanded="false">
					Olá {{(currentUser.name)}}
					<span class="caret"></span>
                   </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-show="currentUser" ng-href="#/settings"
                               >Configurações</a>
                        </li>
                        <li>
                            <a ng-show="currentUser" ng-href="#/bem-vindo"
                               ng-click="logout()">logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
