<md-dialog class="modalMeta" aria-label="Nova Meta"  ng-controller='BBot03Controller' ng-cloak >

    <md-tabs md-dynamic-height md-border-bottom md-dynamic-height="" 
        md-border-bottom="" 
        md-selected="selectedIndex" 
        md-no-ink-bar="true"
        md-align-tabs="bottom"
        md-stretch-tabs="never"
        md-dynamic-height="false"
        md-no-pagination="true"
        >
      <md-tab label="Para quem?">
        <md-content class="">

            <div class="meta">
                <div class="head-meta">
                    <h2>Para que criar meta?</h2>
                    <img ng-src="image/meta/alvo-flecha.png">
                </div>
                <div class="corpo-meta">
                    <h3>Significado</h3>
                    <p>O primeiro elemento para a construção de uma boa meta é considerar que ela deve ser específica.</p>
                    <p>O que eu quero com essa meta?</p>
                </div>



                <md-dialog-actions layout="row" layout-align="center center" class="btns-meta">

                        <md-icon md-font-library="material-icons" ng-click="nextTab(0)" >radio_button_checked</md-icon>
                        <md-icon md-font-library="material-icons" ng-click="nextTab(1)" >radio_button_unchecked</md-icon>
                        <md-icon md-font-library="material-icons" ng-click="nextTab(2)" >radio_button_unchecked</md-icon>

                </md-dialog-actions>

            </div>

        </md-content>
      </md-tab>

      <md-tab label="Para quem?">
        <md-content class="">

            <div class="meta">
                <div class="head-meta">
                    <h2>Para que criar meta?</h2>
                    <img ng-src="image/meta/alvo-flecha.png">

                    <!-- <img ng-src="image/meta/meta-alvo.png"> -->
                </div>
                <div class="corpo-meta">
                    <h3>Mensurável e Temporal</h3>
                    <p>De acordo com Peter Drucker, guro da Administração, que o que não pode ser medido não pode ser gerenciado.</p>
                    <p>Quanto é o resultado esperado da minha meta?</p>
                    <p>Quanto tempo será necessário para realizá-la?</p>
                </div>



                <md-dialog-actions layout="row" layout-align="center center" class="btns-meta">
                        <md-icon md-font-library="material-icons" ng-click="nextTab(0)" >radio_button_unchecked</md-icon>
                        <md-icon md-font-library="material-icons" ng-click="nextTab(1)" >radio_button_checked</md-icon>
                        <md-icon md-font-library="material-icons" ng-click="nextTab(2)" >radio_button_unchecked</md-icon>

                </md-dialog-actions>

            </div>

        </md-content>
      </md-tab>

      <md-tab label="Para quem?">
        <md-content class="">

            <div class="meta">
                <div class="head-meta">
                    <h2>Para que criar meta?</h2>
                    <img ng-src="image/meta/alvo-flecha.png">

                </div>
                <div class="corpo-meta">
                    <h3>Relevante</h3>
                    <p>Analise os números importantes do seu negócio e vincule uma meta a algum desses números.</p>
                    <p>Metas devem ser relevantes e impactarem você e seu negócio.</p>
                </div>


                <md-dialog-actions layout="row" layout-align="center center" class="btns-meta">
                    <md-button class="md-raised md-warn btn-criar-meta" ng-click="nextTab(3)">
                        Criar meta
                    </md-button>
                </md-dialog-actions>

            </div>

        </md-content>
      </md-tab>

      <md-tab label="Criar minha meta">
        <md-content class="md-padding">

            <h2>Criar minha meta</h2>

            <form class="form-novo-meta" name="formMeta" novalidate class="md-padding">

                <md-dialog-content style="width:500px; padding: 20px 5px">

                    <md-input-container class="md-icon-float md-block">
                        <label>Nome da meta (Significado)</label>
                        <md-icon md-font-library="material-icons">stars</md-icon>
                        <input ng-model="meta.nome" type="text" ng-required="true">
                    </md-input-container>

                    
                    <md-input-container class="md-icon-float md-block">
                        <p>Como você vai medir sua meta (mensurável)?</p>
                        <md-icon md-font-library="material-icons">timeline</md-icon>
                        <md-radio-group ng-model="meta.tipo" layout="row">
                          <md-radio-button value="Unidade" >Unidade </md-radio-button>
                          <md-radio-button value="Valor"> Valor </md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                    
                    <br>
                    
                    <div layout-gt-sm="row" ng-show="meta.tipo == 'Unidade'" ng-cloak>
                    	
			         	<md-input-container class="md-icon-float md-block"  flex="50">
	                        <label>Quantidade da meta</label>
	                        <md-icon md-font-library="material-icons">star</md-icon>
	                        <input type="number" ng-model="meta.quantidade" ng-required="meta.tipo == 'Unidade'" min='0'>
                 			<div class="hint" >Ex: 500</div>
                 		</md-input-container>	
                 		
                 		<md-input-container class="md-icon-float md-block" flex="50">
	                        <label>Categoria</label>
	                        <md-icon md-font-library="material-icons">local_offer</md-icon>
	                        <input type="text" ng-required="meta.tipo == 'Unidade'" ng-model="meta.unidade">
	                        <div class="hint" >Ex: Downloads; Novos usuários...</div>
                    	</md-input-container>
                 				          	
			        </div>

                    <md-input-container class="md-icon-float md-block" ng-show="meta.tipo == 'Unidade'">
                        <label>Quanto já acumulou?</label>
                        <md-icon md-font-library="material-icons">star_half</md-icon>
                        <input ng-model="meta.total" ng-required="meta.tipo == 'Unidade'" type="number"  min='0'>
                    </md-input-container>

                    

                    <md-input-container class="md-icon-float md-block" ng-show="meta.tipo == 'Valor'" ng-cloak >
                        <label>Valor da meta</label>
                        <md-icon md-font-library="material-icons">star</md-icon>
                        <input type="text" ng-model="meta.quantidade" ng-required="meta.tipo == 'Valor'" ui-money-mask="2">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block" ng-show="meta.tipo == 'Valor'">
                        <label>Quanto já acumulou?</label>
                        <md-icon md-font-library="material-icons">star_half</md-icon>
                        <input ng-model="meta.total" ng-required="meta.tipo == 'Valor'" type="text" ui-money-mask="2">
                    </md-input-container>

                    
                    <md-input-container class="md-icon-float md-block">
                        <label>Porque essa meta é importante para você (Relevante)?</label>
                        <md-icon md-font-library="material-icons">favorite</md-icon>
                        <input ng-model="meta.pq" type="text" ng-required="true">
                    </md-input-container>

                    <h4>Quando será alcançada?</h4>
	    			<md-datepicker ng-model="meta.data"  ng-required="true" md-placeholder=""></md-datepicker>



                </md-dialog-content>

                <md-dialog-actions layout="row">

                    <md-button  ng-click="addMeta(meta)" class="md-raised" ng-disabled="formMeta.$invalid">Salvar</md-button>

                </md-dialog-actions>

            </form>

        </md-content>
      </md-tab>
    </md-tabs>

    


</md-dialog>