<div class="card lead">

	<div class="textintro"></div>
	<!-- textintro -->

	<div class="row">
		<div class="col-xs-12">

			<form class="form-inline" name="formleads" ng-submit="addLead()"
				novalidate>

				<div class="form-group">
					<div class="bigfield">
						<div class="form-group">
							<label for="leadname">
							</label> <input
								type="text" class="inputbbot oque " name="oque"
								placeholder="Nome do projeto" ng-model="oque" />
						</div>

						<div class="form-group">
							<label for="leadname"><i class="fa fa-at"></i></label> <input
								type="text" list="commandlist" class="inputbbot contato"
								name="leadname" placeholder="+contato" ng-model="leadname"
								ng-required="true" />

							<datalist id="commandlist">
								<option ng-repeat="(key, lead) in leads" value="{{lead.name}}">
							</datalist>

						</div>
						<div class="form-group">

							<label for="leadname"><i class="fa fa-calendar"></i></label> <input
								type="date" class="inputbbot data" name="contactname"
								placeholder="data" ng-model="contactname" />

						</div>
						<div class="form-group">

							<label for="fase"><i class="fa fa-hashtag"></i></label> <input
								type="text" list="faselist" class="inputbbot fase" name="fase"
								placeholder="fase" ng-model="fase" />

							<datalist id="faselist">
								<option value="Potencial cliente">
								<option value="Contato">
								<option value="Orçamento">
								<option value="Negociação">
								<option value="Fechamento">
							</datalist>
						</div>

					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-bbot"
						ng-disabled="formleads.$invalid">Cadastrar</button>
				</div>

			</form>
		</div>
		<!-- col-xs-12 -->
	</div>
	<!-- row -->

	<h2>Todos</h2>

	<div>
		<!--
		<div class="lead" ng-repeat="(key, lead) in leads">
			<button class="btn btn-delete " ng-click="deleteLead(key)">Delete
				this LEAD</button>
			<span>{{lead.name}}</span>

		</div>
		-->
	</div>

</div>
<!--  card lead -->
