<div class="" ng-include="'view/header.html'"></div>
<div class="" ng-include="'js/chamados/view/chat-box.html'"></div>
<div class="container">
    <div id="leads" class="page">

        <div class="textintro"></div>
        <!-- textintro -->

        <form class="form-inline form-lead hidden-xs" name="formleads"
              ng-submit="addLead()" novalidate>

            <div class="row">
                <div class="col-sm-10 area-campo">
                    <div class="campo-grande">
                        <div class="form-group">
                            <label for="leadname"> </label> <input type="text"
                                                                   class="inputbbot oque form-control" name="oque"
                                                                   placeholder="Nome do Projeto" ng-model="lead.projeto" />
                        </div>

                        <div class="form-group">

                            <label for="leadname"> <i class="fa fa-at"></i>
                            </label> <input type="text" list="contatoList"
                                            class="inputbbot contato form-control" name="leadname"
                                            placeholder="Contato" ng-model="lead.contato" ng-required="true" />

                            <datalist id="contatoList">
                                <option
                                    ng-repeat="(key, contato) in contatosList | orderBy: 'nome'"
                                    value="{{contato.nome}}">
                            </datalist>

                        </div>
                        <div class="form-group">


                            <label for="leadfase"> <i class="fa fa-hashtag"></i>
                            </label> <select class="inputbbot contato form-control " name="leadfase"
                                             placeholder="+fase" ng-change="faseChange()"
                                             ng-model="lead.fase" ng-required="true">
                                <option value="">Fase</option>
                                <option value="{{fase.comando}}"
                                        ng-repeat="(k, fase) in fasesList | orderBy:'+posicao'">{{fase.comando}}</option>
                            </select>
                        </div>



                        <div class="form-group">

                            <md-datepicker ng-model="lead.datalembrete" md-placeholder="Data"
                                           class="campo-data inputbbot form-control" ng-required="true"></md-datepicker>

                        </div>

                    </div>

                </div>

                <div class="col-sm-2 area-btn-bbot">

                    <button type="submit" class="btn-bbot"
                            ng-disabled="formleads.$invalid">Cadastrar</button>

                </div>

            </div>
            <!-- bigfield -->

        </form>

        <form class=" form-lead visible-xs" name="formleads"
              ng-submit="addLead()" novalidate>


            <div class="form-group">
                <input type="text" class="form-control" name="oque"
                       placeholder="Nome do Projeto" ng-model="lead.projeto" />
            </div>


            <div class="form-group">

                <input type="text" list="contatoList" class="  form-control"
                       name="leadname" placeholder="Contato" ng-model="lead.contato"
                       ng-required="true" />

                <datalist id="contatoList">
                    <option ng-repeat="(key, contato) in contatosList"
                            value="{{contato.nome}}">
                </datalist>

            </div>
            <div class="form-group">

                <select class="  form-control " name="leadfase" placeholder="+fase"
                        ng-change="faseChange()" ng-model="lead.fase" ng-required="true">
                    <option value="">Fase</option>
                    <option value="{{fase.comando}}"
                            ng-repeat="(k, fase) in fasesList | orderBy:'+posicao'">{{fase.comando}}</option>
                </select>


            </div>




            <div class="form-group">
                <md-datepicker ng-model="lead.datalembrete" md-placeholder="Data"
                               class="  form-control" ng-required="true"></md-datepicker>

            </div>

            <button type="submit" class="btn-bbot-mobile"
                    ng-disabled="formleads.$invalid">Cadastrar</button>

        </form>

        <!-- row -->

        <h2></h2>

        <div class="row">


            <div class="col-xs-12 col-sm-6">
                <h4 class="titulo-filtro">
                    Filtros ativos: <span class="ng-binding label label-default "
                                          ng-show="lead.projeto">{{lead.projeto}}
                        <button class="btn btn-remover-filtro"
                                ng-click="limparFiltroProjeto()">X</button>
                    </span> <span class="ng-binding label label-default"
                                  ng-show="lead.contato">{{lead.contato}}
                        <button class="btn btn-remover-filtro"
                                ng-click="limparFiltroContato()">X</button>
                    </span> <span class="ng-binding label label-default" ng-show="lead.fase">{{lead.fase}}
                        <button class="btn btn-remover-filtro"
                                ng-click="limparFiltroFase()">X</button>
                    </span>
                </h4>


            </div>


            <div class="col-sm-6">

                <div class="settings">

                    <div class="tipo-lista">

                        <div class="ck-button">
                            <label> <input type="radio" name=tipolista value="lista"
                                           ng-model="filtro.tipoLista" ng-change="setTipoLista()">
                                <span><i class="fa fa-list" aria-hidden="true"></i></span>
                            </label>
                        </div>
                        <div class="ck-button">
                            <label> <input type="radio" name="tipolista" value="grid"
                                           ng-model="filtro.tipoLista" ng-change="setTipoLista()">
                                <span><i class="fa fa-th-large" aria-hidden="true"></i></span>
                            </label>
                        </div>


                    </div>

                    <div class="tipo-lista">

                        <md-radio-group ng-model="filtro.data" layout="row"
                                        ng-change="setFiltroData()"> <md-radio-button
                                value="1" class="md-primary"> Leads para hoje </md-radio-button>
                            <md-radio-button value="0" class="md-primary" checked>
                                Todos </md-radio-button> </md-radio-group>

                    </div>

                </div>



            </div>





            <div class="area-grid-cards" ng-show="filtro.tipoLista == 'grid'">

                <div class="lead col-xs-12 col-sm-6 col-md-4"
                     ng-repeat="(key, lead) in leadsList
                                         | filter: {projeto : lead.projeto}
                                 | filter: {contato : lead.contato}
                                 | filter: {fase : lead.fase}
                                 | filter: {datalembrete : filtro.lembrete}
                                 | orderBy:'-datacriacao'
                     ">

                    <flippy class="fancy card-lead" flip="['click']"
                            flip-back="['click']" duration="800" timing-function="ease-in-out">

                        <flippy-front class="card-front">
                            <h2>{{lead.projeto}}</h2>
                            <button class="btn btn-abrir"
                                    onclick="event.stopPropagation();
                                                                            jQuery('#modalLead').modal();
                                    "
                                    ng-click="loadLead(lead.$id)">
                                <i class="fa fa-pencil-square-o fa-lg"></i>
                            </button>
                            <p>
                                <i class="fa fa-at"></i> {{lead.contato}}
                            </p>
                            <p>
                                <i class="fa fa-hashtag"></i> {{lead.fase}}
                            </p>
                            <p>
                                <i class="fa fa-calendar"></i> {{lead.datalembrete|
						date:'dd/MM/yyyy' }}
                            </p>



                        </flippy-front> <flippy-back class="card-back">
                            <h2>Dicas!</h2>
                            <p>Em breve dicas sobre como facilitar seu dia-a-dia e melhorar
                                suas vendas.</p>
                            <p>Para cada lead um dica específica. ;)</p>
                        </flippy-back> </flippy>
                </div>

            </div>

            <div class="area-lista" ng-show="filtro.tipoLista == 'lista'">

                <div class="col-xs-12">


                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nome do projeto</th>
                                <th>@ Contato</th>
                                <th># Fase</th>
                                <th>* Data do lembrete</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                ng-repeat="(key, lead) in leadsList
                                                | filter: {projeto : lead.projeto}
                                        | filter: {contato : lead.contato}
                                        | filter: {fase : lead.fase}
                                        | filter: {datalembrete : filtro.lembrete}
                                        | orderBy:'-datacriacao'
                                ">
                                <td>{{lead.projeto}}</td>
                                <td>{{lead.contato}}</td>
                                <td>{{lead.fase}}</td>
                                <td>{{lead.datalembrete| date:'dd/MM/yyyy' }}</td>
                                <td>
                                    <button class='btn btn-default' data-toggle="modal"
                                            data-target="#modalEditContato"
                                            onclick="jQuery('#modalLead').modal();"
                                            ng-click="loadLead(lead.$id)">
                                        <i class="fa fa-pencil-square-o fa-lg"></i>
                                    </button>

                                    <button class='btn btn-default' data-toggle="modal"
                                            data-target="#modalDica">
                                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
        <!-- row -->

    </div>
    <!--  card lead -->


    <!-- Modal -->
    <div class="modal fade" id="modalLead" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"
                        ng-model="loadItem.projeto">
                        <input class="inputModal" ng-model="loadItem.projeto"
                               value="{{loadItem.projeto}}">
                    </h4>
                </div>
                <div class="modal-body ">
                    <div class='form-inline'>

                        <p>
                            <i class="fa fa-at"></i> {{loadItem.contato}}
                        </p>

                        <p>
                        <md-datepicker class="data-modal" ng-model="loadItem.datalembrete" md-placeholder="Enter date"></md-datepicker>
                        </p>

                        <div class="form-group">
                            <label><i class="fa fa-hashtag"></i></label> 
                            <select name="fase"
                                    ng-model="loadItem.fase" 
                                    class="inputbbot contato form-control "
                                    ng-change="faseChangeModal()">
                                
                                <option name="fase" value="Potencial cliente">Potencial
                                    cliente</option>
                                <option name="fase" value="Contato">Contato</option>
                                <option name="fase" value="Orçamento">Orçamento</option>
                                <option name="fase" value="Negociação">Negociação</option>
                                <option name="fase" value="Fechamento: Sucesso">Fechamento: Sucesso</option>
                                <option name="fase" value="Fechamento: Falha">Fechamento: Falha</option>
                            </select><br>
                        </div>
                    </div>

                    <form name="formobs" novalidate class="formobs">
                        <p>Nota:</p>
                        <textarea name="obs" ng-model="obsmodal" class="form-control"
                                  ng-required="true"></textarea>

                        <button ng-click="salvarNota(loadItem.uid)"
                                ng-disabled="formobs.$invalid" class="btn-cadastrar-obs">Salvar
                            nota</button>
                    </form>

                    <h4>Histório do lead</h4>

                    <div
                        ng-repeat="item in loadItem.log| toArray | orderBy:'-dataupdate'">


                        <div ng-if="item.tipoLog == 0">
                            <p>
                                <samp>{{item.dataupdate| date:'dd/MM/yyyy' }}</samp>
                                -
                                <samp>
                                    Criado como <b>{{item.fase}}</b>
                                </samp>

                            </p>
                            <!-- code to render a large video block-->
                        </div>
                        <div ng-if="item.tipoLog == 1">

                            <p>
                                <samp>{{item.dataupdate| date:'dd/MM/yyyy' }}</samp>
                                -
                                <samp>Atualizado para </samp>
                                <samp>
                                    <b>{{item.fase}}</b>
                                </samp>

                            </p>
                            <!-- code to render a large video block-->
                        </div>
                        <div ng-if="item.tipoLog == 2">

                            <p>
                                <samp>{{item.dataupdate| date:'dd/MM/yyyy' }}</samp>
                                -
                                <samp>Nota:</samp>
                            </p>
                            <p>
                                <samp>{{item.nota}}</samp>
                            </p>
                            <!-- code to render a large video block-->
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left"
                            data-dismiss="modal" ng-click="excluirUpdateModal()">
                        Excluir</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Não salvar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            ng-click="salvarUpdateModal()">Salvar</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="modalDica" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2>Dicas!</h2>

                </div>
                <div class="modal-body">
                    <p>Em breve dicas sobre como facilitar seu dia-a-dia e melhorar
                        suas vendas.</p>
                    <p>Para cada lead um dica específica. ;)</p>
                </div>

            </div>
        </div>
    </div>


</div>


