<div class="" ng-include="'view/header.html'"></div>
<div class="" ng-include="'js/chamados/view/chat-box.html'"></div>
<div class="container">
    <div id="settings" class="card">

        <h2>Configurações</h2>


        <div ng-cloak>
            <md-content> <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Fases & Lembretes"> <md-content
                            class="md-padding">
                            <h2 class="">Defina o período padrão de alerta para cada fase</h2>


                            <div class="form-group" ng-repeat="(k, fase) in fasesList">
                                <div class="row">
                                    <label for="{{fase.cod}}"
                                           class="col-sm-2 col-sm-offset-1 control-label">{{fase.comando}}</label>
                                    <div class="col-sm-2">
                                        <input type="number" class="form-control" ng-model="lembrete[k]"
                                               ng-change="lembreteChange(k, lembrete[k])"
                                               value="{{fase.lembrete}}" id="{{fase.cod}}"
                                               placeholder="{{fase.comando}}" min='1' max='30'>
                                    </div>
                                    <p>dias</p>
                                </div>


                            </div>
                        </md-content> </md-tab> <md-tab label="Dados pessoais"> <md-content
                            class="md-padding">
                            <h2 class="">Dados pessoais</h2>



                            <form name="formmeusdados" ng-submit="salvarMeusDados()" novalidate>
                                <div class="form-group">
                                    <label>Nome</label> <input type="text" class="form-control"
                                                               ng-model="dadosUsuario.name" placeholder="Nome" ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label>Primeiro Nome</label> <input type="text"
                                                                        class="form-control" ng-model="dadosUsuario.firstname"
                                                                        placeholder="Nome" ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label>Último nome</label> <input type="text" class="form-control"
                                                                      ng-model="dadosUsuario.lastname" placeholder="Nome"
                                                                      ng-required="true">
                                </div>
                                <div class="form-group">
                                    <label>Área de atuação</label> <input type="text"
                                                                          class="form-control" ng-model="dadosUsuario.profissao"
                                                                          placeholder="Área de atuação">
                                </div>
                                <div class="form-group">
                                    <label>E-mail</label> <input type="email" ng-disabled="true"
                                                                 ng-model="dadosUsuario.email" class="form-control"
                                                                 placeholder="E-mail" ng-required="true" ng-disable="true">
                                </div>




                                <button type="submit" class="btn btn-default"
                                        ng-disabled="formmeusdados.$invalid">Salvar</button>





                            </form>

                            <button class="btn-mudar-senha"
                                    data-toggle="modal" data-target="#modalChangePass">Mudar
                                minha senha</button>


                            <hr/>





                        </md-content> </md-tab> <md-tab label="Dados assinatura"> 

                        <md-content
                            class="md-padding" ng-init="initSetting()">


                            <h2 class="">Dados assinatura</h2>



                            <md-card ng-show="!dadosAssinatura.plan" >
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Plano: TRIAL</span>
                                        <span class="md-subhead">Status: 60 dias de TRIAL  </span>
                                    </md-card-title-text>

                                </md-card-title>
                                <md-card-content>
                                    <p>
                                        Data de criação: {{currentUser.date|
						date:'dd/MM/yyyy' }}
                                    </p>
                                    <p>Código da assinatura: {{dadosAssinatura.code}}</p>
                                    <p>Mensalidade: {{dadosAssinatura.amount / 100| currency:"R$":2}} </p>

                                    <h4>Próxima fatura:</h4>
                                    <p ng-show="dadosAssinatura.next_invoice_date.day" >{{dadosAssinatura.next_invoice_date.day}}/{{dadosAssinatura.next_invoice_date.month}}/{{dadosAssinatura.next_invoice_date.year}}</p>

                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-disabled="true" class="md-raised" ng-click="consultar()" >Atualizar</md-button>
                                    <md-button ng-disabled="true" class="md-raised" ng-click="suspender($event)" >Upgrade</md-button>
                                </md-card-actions>
                            </md-card>


                            <md-card ng-show="dadosAssinatura.plan" >
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Plano: {{dadosAssinatura.plan.name}}</span>
                                        <span class="md-subhead">Status: {{dadosAssinatura.status}}</span>
                                    </md-card-title-text>

                                </md-card-title>
                                <md-card-content>
                                    <p>
                                        Data de criação: {{dadosAssinatura.creation_date.day}}/{{dadosAssinatura.creation_date.month}}/{{dadosAssinatura.creation_date.year}}
                                    </p>
                                    <p>Código da assinatura: {{dadosAssinatura.code}}</p>
                                    <p>Mensalidade: {{dadosAssinatura.amount / 100| currency:"R$":2}} </p>

                                    <h4>Próxima fatura:</h4>
                                    <p ng-show="dadosAssinatura.next_invoice_date.day" >{{dadosAssinatura.next_invoice_date.day}}/{{dadosAssinatura.next_invoice_date.month}}/{{dadosAssinatura.next_invoice_date.year}}</p>

                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button class="md-raised" ng-click="consultar()" >Atualizar</md-button>
                                    <md-button class="md-raised md-warn" ng-click="suspender($event)" >Suspender</md-button>
                                    <md-button class="md-raised" ng-click="cancelar($event)" >Cancelar</md-button>
                                    <md-button class="md-raised md-primary" ng-click="reativar($event)" >Reativar</md-button>


                                </md-card-actions>
                            </md-card>

                        </md-content> 
                    </md-tab> 
                </md-tabs> 
            </md-content>
        </div>




    </div>
    <!--  card contato -->

</div>



<!-- Modal -->
<div class="modal fade" id="modalChangePass" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Mudar minha senha</h4>
            </div>
            <div class="modal-body">


                <form name="formchangepass" ng-submit="changeMyPass()" novalidate>

                    <p ng-show="changeP" >{{changeP}}</p>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha antiga</label> <input
                            type="password" class="form-control" id="exampleInputPassword1"
                            ng-model="change.oldPass" 
                            ng-required="true"
                            placeholder="senha antiga">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha nova</label> <input
                            type="password" class="form-control" id="exampleInputPassword1"
                            ng-model="change.newPass" 
                            ng-required="true"
                            placeholder="senha antiga">
                    </div>
                    <!--                    <div class="form-group">
                                            <label for="exampleInputPassword1">Sepetir senha nova</label> <input
                                                type="password" class="form-control" id="exampleInputPassword1"
                                                ng-model="change.repeatPass" 
                                                ng-required="true"
                                                placeholder="senha antiga">
                                        </div>-->

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

                    <button type="submit"
                            ng-disabled="formchangepass.$invalid" 
                            class="btn btn-default">Salvar nova
                        senha</button>

                </form>


            </div>
        </div>
    </div>
</div>
