<div class="" ng-include="'view/header.html'"></div>
<div class="" ng-include="'js/chamados/view/chat-box.html'"></div>
<div class="container">

    <div id="assinar" class="page">

        <div class="row">

            <div class="col-sm-6">

                <div class="plano">

                    <h1>Plano TRIAL</h1>

                    <p>
                        por 30 dias
                    </p>
                    <h3><span class="moeda">R$</span> 0,00<span class="periodo">/mês</span></h3>

                    <ul>
                        <li>Prospecções ilimitadas</li>
                        <li>Contatos ilimitados</li>
                        <li>Lembretes por e-mail</li>
                        <li>Relatórios para você entender e melhorar seu fluxo de venda de projetos.</li>
                    </ul>

                    <hr/>
                    <p>* Desconto válido para o período de 12 meses após a contratação do plano.</p>
                    <p>** A emissão de Nota Fiscal Eletrônica de Serviço está disponível apenas para a cidade de São Paulo e o Distrito Federal.</p>

                </div>

            </div>

            <div class="col-sm-6">

                <div class="form-assinatura" >

                    <div class="row">
                        <div class="col-sm-12">
                            <h2>1) Cadastre-se no BusinessMe</h2>
                        </div>

                    </div>


                    <form name="form_cadastro" ng-submit="cadastroBusinessMeTrial()" novalidate ng-show="!msgCadastro">

                        <div class="row">

                            <div class="col-sm-12">
                                <label for="nomeCompleto">Nome completo *</label>
                                <p class="msg-error" 
                                   ng-show="form_cadastro.name.$invalid && form_cadastro.name.$touched">
                                    <b>Nome completo</b> - é obrigatório.                                        
                                </p>
                                <input type="text" class="form-control"  
                                       ng-model="assinatura.user.name" 
                                       ng-required="true"
                                       name="name"
                                       id="nomeCompleto" placeholder="Nome completo">
                            </div>
                            <div class="col-sm-12">
                                <label for="area">Área de atuação *</label>
                                <p class="msg-error" 
                                   ng-show="form_cadastro.area.$invalid && form_cadastro.area.$touched">
                                    <b>Área de atuação</b> - é obrigatório.                                        
                                </p>
                                <select class="form-control"  id="area"  
                                        ng-required="true"
                                        name="area" ng-model="assinatura.user.profissao" >
                                    <option value="">Selecione uma área</option>
                                    <option ng-repeat="(key, nome) in areas" >{{nome}}</option>
                                </select>
                            </div>

                            <div class="col-sm-6">
                                <label for="email">E-mail *</label>
                                <p class="msg-error" 
                                   ng-show="form_cadastro.email.$invalid && form_cadastro.email.$touched">
                                    <b>E-mail</b> - é obrigatório e deve ser válido.                                        
                                </p>
                                <input type="email" class="form-control" id="email"  
                                       ng-required="true"
                                       name="email"
                                       ng-model="assinatura.user.email" 
                                       placeholder="E-mail">
                            </div>
                            <div class="col-sm-6">
                                <label for="senha">Senha *</label>
                                <p class="msg-error" 
                                   ng-show="form_cadastro.password.$invalid && form_cadastro.password.$touched">
                                    <b>Senha</b> - é obrigatório.                                        
                                </p>
                                <input type="password" class="form-control" id="senha"  
                                       ng-required="true"
                                       name="password"
                                       ng-model="assinatura.user.password" 
                                       placeholder="Senha"> 
                            </div>

                            <div class="col-xs-12">

                                <p class="message validationerror" ng-show="message">{{message}}</p>

                            </div>

                            <div class="col-xs-12">

                                <button type="submit" class="btn btn-assinar" 
                                        ng-disabled="form_cadastro.$invalid"
                                        >Assinar</button>

                                <p class="aviso-btn">
                                    Preencha todos os campos obrigatórios (*) para
                                    habilitar o botão de assinatura.
                                </p>

                            </div>

                        </div>

                    </form>

                    <div class="row" ng-show="msgCadastro">
                        <div class="col-xs-12">
                            <h3>{{msgCadastro}}</h3>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

</div>




<!-- Modal -->
<div class="modal fade" id="contratoAssinatura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>