<div class="container">

	<div id="embreve" class="page">

		<div class="row">

			<div class="col-xs-12">
				<h1>Assine</h1>

			</div>
			<div class="col-xs-12">
				<h1>Selecione o Plano:</h1>
                                
                                <form name="formsub" ng-submit="subscribe()" novalidate>
                                    <input type="text">
                                    
                                    <button type="submit">Inscrever-se</button>
                                    
                                </form>

			</div>

		</div>
	</div>

</div>